{% extends "index.html" %}
{% load i18n %}

{% block title %}{% trans 'E-Mail Veränderung bearbeitet' %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block content %}
	<div class="notice">
		<h3>{% trans 'E-mail Veränderung wurde bearbeitet' %}</h3>
		<p>{% trans "Eine E-Mail wurde zu ihrer neuen E-Mailadresse versandt, um sie zu verifizieren und zu aktivieren. Bitte checken Sie Ihre E-Mail und vervollständigen Sie den Prozess. Achten Sie dabei die Instruktionen" %}.</p>
	</div>
{% endblock %}

{% block content-related %}
  <div class="box">
    <h3>{% trans "Add e-mail" %}</h3>
    <p>{% trans "Insert the new e-mail address. An e-mail will be send to it for testing and confirmation" %}.</p>
  </div>
{% endblock %}
