{% extends "base.html" %}
{% block content %}
<div id="listContent">
  <form class="document-head" method="GET">
    <div id="search-form">
      <div>
	<div class="search-form-desc">Suchbegriff:</div>
        {{ forms.simple_search.search }}
      </div>
      <div>
	<div class="search-form-desc">Filter:</div>
        {{ forms.simple_search.filter_title }}
        {{ forms.simple_search.filter_authors }}
      </div>
      {#<div class="sortby">#}
        {#<span>Sortieren nach:</span>#}
        {#<div>#}
          {#<div class="sortby sortby-down"><a href="#">Titel</a></div>#}
          {#<div class="sortby"><a href="#">Author</a></div>#}
          {#<div class="sortby"><a href="#">Jahr</a></div>#}
        {#</div>#}
      {#</div>#}
      <div>
	<div class="search-form-desc">Anzahl:</div>
        {{ forms.simple_search.documents_on_page }}
      </div>
    </div>
    <noscript><input type="submit" value="Suchen" /></noscript>
  </form>
  <div>
    {{ document_start }} - {{ document_end }} von {{ document_count }}
    Dokument{{ document_count|pluralize:",en" }}.
  </div>
  <ul class="document-list">
    {% for doc in document_list %}
    <li class="{{ doc.get_status_css_class }}" title="{{doc.get_status_string}}">
      <div class="title">
        <a href="{% url "documents.detail" doc.pk %}">{{ doc.title }}</a>
      </div>
      <div class="extras">
        <div class="authors">{% for author in doc.get_all_authors %}
          {{ author }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
	<div>
          <span class="publisher">{{ doc.publisher }}</span>
          <span class="year">({{ doc.year }})</span>
	</div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
  <div class="pagination pagination-centered">
    <ul>
      {% for page in paginator.short_page_range %} 
      <li class="{{ page.css_classes }}"><a href="{% url "documents.list" %}?{{ get_params }};page={{ page.page }}">{{ page.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
$('#listContent').on('click', 'div.pagination a', function(event) {
    event.preventDefault();
    var url = $(this).attr('href');
    $('#listContent').load(url + " #listContent");
    window.history.pushState(null, null, url);
  });
</script>
{% endblock scripts %}
