*.py[cod]

*.swp
*.ac[nr]
*.aux
*.alg
*.gl[ogs]
*.ist
*.lo[gf]
*.toc
*.fdb_latexmk
*.out

doc/Feinentwurf/Feinentwurf.pdf
doc/Feinentwurf/Feinentwurf_WiReLib.pdf
doc/Grobentwurf/TemplateGrobentwurf.pdf
doc/Grobentwurf/Wissenschaftliches_Rechnen-WiReLib-Grobentwurf.pdf
doc/Pflichtenheft/Pflichtenheft_WiReLib.pdf
doc/Pflichtenheft/TemplatePflichtenheft.pdf
"doc/Pr\303\244sentation/"
"doc/pr\303\244sentation.tar.gz"

settings/__init__.py
