{% extends "index.html" %}
{% block content %}
	<h1>{{ documents.title}} </h1>
	<table>
	    <tr>
	        <td><b><u>ID in der Bibliothek:</u></b></td>
	        <td>{{ documents.bib_no }}</td>
	    </tr>
	    <tr>
	        <td><b><u>Inventarnummer:</u></b></td>
	        <td>{{ documents.inv_no }}</td>
	    </tr>
	    <tr>
	        <td><b><u>Kategorie:</u></b></td>
	        <td>{{ documents.category }}</td>
	    </tr>
	    <tr>
	        <td><b><u>ISBN:</u></b></td>
	        <td>
	            {% if documents.isbn %}
	                {{ documents.isbn }}
	            {% else %}
	                -
	            {% endif %}
	        </td>
	    </tr>
	    <tr>
	        <td><b><u>Autor:</u></b></td>
	        <td>
	            {% for a in documents.authors.all %}
	                    {{ a.first_name }} {{ a.last_name }},
	            {% endfor %}
	        </td>
	    </tr>
	    <tr>
	        <td><b><u>Publisher:</u></b></td>
	        <td>
	            {% if documents.publisher %}
	                {{ documents.publisher }}
	            {% else %}
	                -
	            {% endif %}
	        </td>
	    </tr>
	    <tr>
	        <td><b><u>Erscheinungsjahr:</u></b></td>
	        <td>{{ documents.year }}</td>
	    </tr>
	    <tr>
	        <td><b><u>BibTeX-ID:</u></b></td>
	        <td>{{ documents.bibtex_id }}</td>
	    </tr>
	    <tr>
	        <td><b><u>Keywords:</u></b></td>
	        <td>
	            {% if documents.keywords.all %}
	                {% for k in documents.keywords.all %}
	                    {{ k.keyword }},
	                {% endfor %}
	            {% else %}
	                -
	            {% endif %}
	        </td>
	    </tr>	    
	    <tr>
	        <td><b><u>LibraryOfCongressN:</u></b></td>
	        <td>
	            {% if documents.lib_of_con_nr %}
	                {{ documents.lib_of_con_nr }}
	            {% else %}
	                -
	            {% endif %}
	        </td>
	    </tr>
	    <tr>
	        <td><b><u>Preis:</u></b></td>
	        <td>
	            {% if documents.price and documents.currency %}
	                {{ documents.price }}{{ documents.currency }}
	            {% else %}
	                -
	            {% endif %}
	        </td>
	    </tr>
	    	    <tr>
	        <td><b><u>In der Bibliothek seit:</u></b></td>
	        <td>{{ documents.date_of_purchase }}</td>
	    </tr>
	    <tr>
	        <td><b><u>Notizen:</u></b></td>
	        <td>
	            {% if documents.comment %}
	                {{ documents.comment }}
	            {% else %}
	                -
	            {% endif %}
	        </td>
	    </tr>
	    {% for de in documents.doc_extra %}    
	        <tr>
	            <td><b><u>{{ de.bib_field }}</u></b></td>
	            <td>{{ de.content }}</td>
	        </tr>
	    {% endfor %}
	</table>
	{% if lending_query %}
	{% endif %}
	    
	
	<script language="JavaScript" type="text/JavaScript">
<!--
function show(id) {
  document.getElementById(id).style.display='inline';
}
//-->
</script>
<input type="button" name="button" value="BibTeX" onclick="javascript: show('spoiler');"> <br>
<div id="spoiler" name="spoiler" style="display: none;"><textarea readonly=true>TODO BibTeX generieren</textarea></div>
{% endblock %}
