{% extends "index.html" %}
{% block content %}
	<h1>Übertragen</h1>
	  <table>
		<tbody id = origin>
			<tr>
			  <td><b>Dokument welches übertragen werden soll ist:</b></td>
			  <td><label><a href="/doc/{{documents.bib_no}}">{{documents.title}}</a></label></td>
			</tr>
	    </tbody>
	 </table>
	 <hr />.
	 
	 <table>
	    <tbody>
			{% if lending.user_lend.username != user.username %}
			<tr>
			  <td><b>Nutzer auf den übertragen werden soll:</b></td>
				<td> <input type='text' name='destination' maxlength=15 value=
				  {{user.username}} /></td>	
		    </tr>
			{% else %}
			<form action="" method="post">
			  <tr>
			  	  <td><b>Neuer Entleiher:</b></td>
				  <td>{{userform.as_p}}</td>
			  </tr>
			  <tr><td>
			    <input type="submit" name="assign" value="An User &uuml;bertragen" />
		      </td></tr>
	    </tbody>
	  </table>
	    
			<hr />
			
	  <table>
	    <tbody>
	        <tr><td><b>Externe</b></td></tr>
			{{ nonuserform.as_table }}
			{% endif %}
			</tbody>
		  </table>
			 <input type="submit" name="assign-ex" value="An Externe &uuml;bertragen" />
		  </form>

		
{% endblock content %}
