{% load pagination_tags %}
<h1>{{ page_title }}</h1>
<p>{{ page_text }}</p>
<p>
	<div id="list_startfilter">
	  <a href="?{{ path_starts }}&starts=0-9">0-9</a>
	  <a href="?{{ path_starts }}&starts=a-c">A-C</a>
	  <a href="?{{ path_starts }}&starts=d-f">D-F</a>
	  <a href="?{{ path_starts }}&starts=g-i">G-I</a>
	  <a href="?{{ path_starts }}&starts=j-l">J-K</a>
	  <a href="?{{ path_starts }}&starts=m-o">M-O</a>
	  <a href="?{{ path_starts }}&starts=p-s">P-S</a>
	  <a href="?{{ path_starts }}&starts=t-v">T-V</a>
	  <a href="?{{ path_starts }}&starts=w-z">W-Z</a>
	  <a href="?{{ path_starts }}&starts=all">alle</a>
	</div>

	<div id="list_sort">
	  <a href="?{{ path_sort }}&sort=title">Dokumententitel</a>
	<!---  <a href="?{{ path_sort }}&sort=category">Kategorie</a>--->
	  <a href="?{{ path_sort }}&sort=authors">Autoren</a>
	  <a href="?{{ path_sort }}&sort=year">Veröffentlichung</a>
	  {% if form == 2 %}
	  <a href="?{{ path_sort }}&sort=date">Datum</a>
	  {% endif %}
	 <!--- <a href="?{{ path_sort }}&sort=status">Status</a>-->
	  <!---<a href="?{{ path_sort }}&sort=isbn">Isbn</a>-->
	</div>
	{% autopaginate documents 10 %}

	<ul id="list_body">
	{% for d in documents %}
	

	  <li id="{% spaceless %}
		  {% if form == 0 %}
			status_{{ d.status }} 
			{% else %}{% if form == 1 %}
			{% endif %}{% endif %}
		  {% endspaceless %}">

	  <div id="title">
		  <a href="../doc/{{ d.bib_no}}">{{ d }}</a>
		  {% if form == 1 %}
		        {% if d.lending.non_user_lend == True %}		        
		              {{ d.doc_status.date_term_lend }}		    
		        {% endif  %}   
		  {% endif %}
		   </div>
		<div id="extras">
		<div id="authors">{% spaceless %}
		{% for au in d.authors.all %} 
		{{ au.first_name }} 
		{{ au.last_name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
	 {% endspaceless %}</div>
	  <div id="year">{{ d.year }}</div>
	  <div id="volume">{% spaceless %}
	  <div id="publisher">{{ d.publisher|default_if_none:"" }}</div>
            {# TODO ersetzen durch schöneren Aufruf #}      
            
            {% for b in d.doc_extra_set.all %}
                {% if b.bib_field == "volume" %}     
                    Seitenzahl:   {{ b }}
                {% endif %}
            {% endfor %}    
            {% endspaceless %}</div>
	
    	{% if form == 1 %}	
        <div id="date_lend"> 
    	  Ausgeliehen am:
    	   {% for l in lend_date %}
    	        {{ l.date }}
    	   {% endfor %}
    	</div>
    	{% endif %}
    	
		{% if form == 2 %}
		  <div id="bib_no"> {{ d.bib_no }} </div>
		  {% for s in d.doc_status_set.all %}
        {% if s.status == 3 %}
            {% if not s.return_lend %}
              <div id="recent_user">Gemeldet von: 
              {% if s.recent_user.first_name %}
                {% if s.recent_user.last_name %}
                  <a href="/user/{{ lending.user_lend.id }}">{{ s.recent_user.first_name }} {{ s.recent_user.last_name }}</a> <br />
                {% else %}
                  <a href="/user/{{ lending.user_lend.id }}">{{ s.recent_user.username }}</a> <br \>
                {% endif %}
              {% else %}
                <a href="/user/{{ lending.user_lend.id }}">{{ s.recent_user.username }}</a> <br />
              {% endif %}
              </div>
              <div id="since">Vermisst seit: {{ s.date }}</div>
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
	  </div>
	</li>
	{% endfor %}
	</ul>
</p>
	{% paginate %}
