{% extends "index.html" %}
{% block content %}

<h1>{{ documents.title }}</h1> 
<table width="100%" >
<tr>
  <td>
    <table>
    
      {% if change_document %}
        <tr>
          <td>
            <a href="/doc/{{documents.bib_no}}/edit" method="post">
		          <input type="button" name="edit" value="Editieren" />
	          </a>
	        </td>
	      </tr>
	    {% endif %}
      <tr>
		  <td><b>Status:  </b></td> 
		  <td>
{% if documents.status == 0 %}
         Vorhanden
{% endif %}     
{% if documents.status == 1 %}
    Ausgeliehen
{% endif %} 
{% if documents.status == 2 %}
    Bestellt
{% endif %} 
{% if documents.status == 3 %}
    Vermisst
{% endif %} 
{% if documents.status == 4 %}
    Verloren
{% endif %} 
</td>
		</tr>

  
	  
	  <tr>
		  <td><b>Autor:</b></td>
		  <td>
			{% for a in documents.authors.all %}
			{{ a.first_name }} {{ a.last_name }}
			{% if not forloop.last %}, {% endif %}
			{% endfor %}
		  </td>
		</tr>
		
		<tr>
		  <td><b>Kategorie:</b></td>
		  <td>{{ documents.category }}</td>
		</tr>
		
		<tr>
		  <td><b>Publisher:</b></td>
		  <td>
			{% if documents.publisher %}
			{{ documents.publisher }}
			{% else %}
			-
			{% endif %}
		  </td>
		</tr>
		
		<tr>
		  <td><b>Erscheinungsjahr:</b></td>
		  <td>{{ documents.year }}</td>
		</tr>
		
		<tr>
		  <td><b>Schlüsselwörter:</b></td>
		  <td>
		    {% for k in keyword %}
			<li>{{k.keyword}}</li>
			{% if not forloop.last %} {% endif %}
			
			
			
			
	        
		  {% endfor %}
		  </td>
		</tr>
		
		{% if can_see_date_of_purchase %}	    
		<tr>
		  <td><b>In der Bibliothek seit:</b></td>
		  <td>{{ documents.date_of_purchase }}</td>
		</tr>
		{% endif %}
		<tr>
		  <td><b>Notizen:</b></td>
		  <td>
			{% if documents.comment %}
			{{ documents.comment }}
			{% else %}
			-
			{% endif %}
		  </td>
		</tr>
		
		{% for de in doc_extra %}    
		<tr>
		  <td> {% if de.bib_field == "volume" %}
		  <b>Umfang:</b>
		  {% else %}
		  <b>
		  {{ de.bib_field }}</b>
		  {% endif %}
		  </td>
		  <td>{{ de.content }}</td>
		</tr>
		{% endfor %}
		
		<tr>
		  <td><b>ID in der Bibliothek:</b></td>
		  <td>{{ documents.bib_no }}</td>
		</tr>
		
		<tr>
		  <td><b>Inventarnummer:</b></td>
		  <td>{{ documents.inv_no }}</td>
		</tr>
		
		<tr>
		  <td><b>ISBN:</b></td>
		  <td>
			{% if documents.isbn %}
			{{ documents.isbn }}
			{% else %}
			-
			{% endif %}
		  </td>
		</tr>
		
    {% if can_see_price %}
		<tr>
		<td><b>Preis:</b></td>
		  <td>
			{% if documents.price and documents.currency %}
			{{ documents.price }}{{ documents.currency }}
			{% else %}
			-
			{% endif %}
		  </td>
		</tr>
		{% endif %}  
		
		<tr>
		  <td><b>BibTeX-ID:</b></td>
		  <td>{{ documents.bibtex_id }}</td>
		</tr>
		
		{% if can_see_locn %}
		<tr>
		  <td><b>LibraryOfCongressN:</b></td>
		  <td>
			{% if documents.lib_of_con_nr %}
			{{ documents.lib_of_con_nr }}
			{% else %}
			-
			{% endif %}
		  </td>
		</tr>
		{% endif %}
		
		{% if can_see_last_update %}
		<tr>
		    <td><b>Zuletzt bearbeitet am: </b></td>
		    <td> {{ documents.last_updated }} </td>
		</tr>
		<tr>
		    <td><b>Zuletzt bearbeitet von: </b></td>
		    <td> {{ documents.last_edit_by }} </td>
		</tr>
		{% endif %}
		
		</table>
	</td>
	
	<td>
	{% if user.is_authenticated %}
	  <form action="" method="post">
	  {% if documents.status == 0 %}
	    {% if can_lend %}
		      <input type="submit" name="lend" value="Ausleihen" /> 
	      <br />
	      {# <!-- Ausleihe an externen --> #}
	    {% endif %}
	    {% if can_miss %}
		    <input type="submit" name="missing" value="Vermisst melden" /> <br />
	      <br />
	    {% endif %}
	  {% else %}
	    {% if documents.status == 1 %}    
	      {% if lending %}
	        {% if lending.non_user_lend %}
	          Das Dokument ist von {{ lending.non_user_lend.first_name }} {{ lending.non_user_lend.last_name }} ausgeliehen. <br />
	          {% if user.id == lending.user_lend.id %}
	            Als Bürge sind Sie eingetragen.
	          {% else %}
	            Als Bürge fungiert <a href="/user/{{ lending.user_lend.id }}">{{ lending.user_lend.first_name }} {{ lending.user_lend.last_name }}</a>. <br />
	          {% endif %}
	        {% else %}
	          {% if user.id == lending.user_lend.id %}
	            Das Dokument wurde bereits von Ihnen ausgeliehen. <br />
	          {% else %}
	            {% if lending.user_lend.first_name %}
	              {% if lending.user_lend.last_name %}
	                Das Dokument ist von <a href="/user/{{ lending.user_lend.id }}">{{ lending.user_lend.first_name }} {{ lending.user_lend.last_name }}</a> ausgeliehen. <br />
	              {% else %}
	                Das Dokument ist vom User <a href="/user/{{ lending.user_lend.id }}">{{ lending.user_lend.username }}</a> ausgeliehen. <br />
                {% endif %}
              {% else %}
                  Das Dokument ist vom User <a href="/user/{{ lending.user_lend.id }}">{{ lending.user_lend.username }}</a> ausgeliehen. <br />
	            {% endif %}
	          {% endif %}
	        {% endif %}
	        {% if can_lend %}
	          {% if lending.user_lend.id != user.id %}
	              <input type="submit" name="lend" value="&Uuml;bertragen" /> <br />
	          {% else %}
			        <a href="/doc/{{documents.bib_no}}/assign">
	              <input type="button" name="assign" value="&Uuml;bertragen" /> <br />
	            </a>
	            {# <!-- TODO Ausleihe an externen --> #}
	            
	          {% endif %}
	        {% endif %}
	        {% if can_unlend %}
	          {% if lending.user_lend == user %}
	              <input type="submit" name="restitution" value="R&uuml;ckgabe" />
	            <br />
	            {# <!-- TODO übertragen vom ausleihenden aus --> #}
	          {% endif %}
	        {% endif %}
	        {% if can_miss %}
		          <input type="submit" name="missing" value="Vermisst melden" />
	          <br />
	        {% endif %}
	      {% endif %}
	      
	    {% else %}
	      {% if documents.status == 2 %}
	        Das gewünschte Dokument ist derzeit erst bestellt und steht noch nicht zur Ausleihe bereit. <br />
	        {% if can_order %}
	            <input type="submit" name="restitution" value="Ist angekommen" />
	          <br />
	        {% endif %}
	        
	      {% else %}
	        {% if documents.status == 3 %}
	          Das gewünschte Dokument wurde vor kurzem vermisst gemeldet. <br />
	         {# <!-- TODO Mail an den Bibliothekar wenn gefunden --> #}
	          {% if can_miss %}
		            <input type="submit" name="found" value="Gefunden melden" />
	            <br />
	          {% endif %}
	          {% if can_lost %}
	              <input type="submit" name="lost" value="als verloren markieren" />
	            <br />
	          {% endif %}
	          
	        {% else %}
	          Dieses Dokument gilt als verloren. <br />
	          {# <!-- TODO wer genau kann verlorene als wiedergefunden melden (derzeit nur solche mit dem Recht des auch Verloren-setzens --> #}
	          {% if can_lost %}
	              <input type="submit" name="found" value="Gefunden melden" />
	            <br />
	          {% endif %}
	        {% endif %}  
	      {% endif %}
	    {% endif %}
	  {% endif %}
	  </form>
	{% endif %}
	</td>
  </tr>
</table>

<input type="button" name="bibtex" value="BibTeX" onclick="spoiler(this,'spoiler','BibTeX','BibTeX verbergen')"> <br />
<div id="spoiler" name="spoiler" style="display: none;"><textarea cols="63"
	rows="15" readonly="true">{{ bibtex_string }}</textarea></div>
	
{% if can_see_history %}
<h3>History dieses Dokuments</h3>





    
    
    
    <table width = "80%", rules="rows">
    {% for r in history %}
    <tr><td>{{ r.date }} </td>   
    
    <td>{% if r.status == 0 %}
         Zurück gegeben
{% endif %}
     
{% if r.status == 1 %}
    Ausgeliehen
{% endif %} 
{% if r.status == 2 %}
    Bestellt
{% endif %} 
{% if r.status == 3 %}
    Vermisst
{% endif %} 
{% if r.status == 4 %}
    Verloren
{% endif %}  </td>  
    <td>
    {% if not r.user_lend %}
        {{ r.recent_user }}
    {%  endif %}  
    {% if r.user_lend %}
       {{ r.user_lend }} 
    {%  endif %}   
    </td> 
    </tr>
    
    {% endfor %}
    </table>





{% endif %}
    
    
{% endblock %}
