{% extends "index.html" %}
{% load pagination_tags %}
{% block content %}

<h1>{{ page_title }}</h1>
<p>{{ page_text }}</p>
<p>
	<div id="list_startfilter">
	  <a href="?{{ path_starts }}&starts=0-9">0-9</a>
	  <a href="?{{ path_starts }}&starts=a-c">A-C</a>
	  <a href="?{{ path_starts }}&starts=d-f">D-F</a>
	  <a href="?{{ path_starts }}&starts=g-i">G-I</a>
	  <a href="?{{ path_starts }}&starts=j-l">J-K</a>
	  <a href="?{{ path_starts }}&starts=m-o">M-O</a>
	  <a href="?{{ path_starts }}&starts=p-s">P-S</a>
	  <a href="?{{ path_starts }}&starts=t-v">T-V</a>
	  <a href="?{{ path_starts }}&starts=w-z">W-Z</a>
	  <a href="?{{ path_starts }}&starts=all">alle</a>
	</div>

	<div id="list_sort">
	  <a href="?{{ path_sort }}&sort=title">Dokumententitel</a>
	  <a href="?{{ path_sort }}&sort=category">Kategorie</a>
	  <a href="?{{ path_sort }}&sort=authors">Authoren</a>
	  <a href="?{{ path_sort }}&sort=year">Veröffentlichung</a>
	  <a href="?{{ path_sort }}&sort=status">Status</a>
	  <a href="?{{ path_sort }}&sort=isbn">Isbn</a>
	</div>
	{% autopaginate documents 10 %}

	<ul id="list_body">
	{% for d in documents %}
	  <li id="status_{% spaceless %}
		  {% if form == 0 %}
			{{ d.status }} 
		  {% else %}{% if form == 1 %}
			<!-- TODO: non-user null? Grafik-->
		  {% endif %}{% endif %}
		  {% endspaceless %}">
	  <div id="title">
		  <a href="../doc/{{ d.bib_no}}">{{ d }}</a>
		   {% if form == 1 %}
		    {% if non_user_lend == True %}
		    {{lending.date_term}}
		    {% endif %}
		  {% endif %}
		   <!-- TODO: date_term --> </div>
		<div id="extras">
		<div id="authors">
		{% for au in d.authors.all %} 
		{{ au.first_name }} 
		{{ au.last_name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
	  </div>
	  <div id="year">{{ d.year }}</div>
	  <div id="volume"><!-- TODO  hier einfügen --></div>
	  <div id="publisher">{{ d.publisher|default_if_none:"" }}</div>
	  {% if form == 1 %}
		<div id="date_lend">Ausgeliehen seit: 
		{% if form == 1 %}
		    {% if non_user_lend == False %}
		    {{lending.date_lending}}
		    {% endif %}
		  {% endif %}
		
		 <!-- TODO --></div>
	  {% endif %}
	  </div>
	</li>
	{% endfor %}
	</ul>
</p>
	{% paginate %}
{% endblock %}
