{% extends "index.html" %}
{% block content %}
	<h1>Übertragen</h1>
	  <table>
		<tbody id = origin>
		  <tr>
			<tr>
			  <td><b>Dokument welches übertragen werden soll ist:</b></td>
			  <td><label>{{documents.title}}</label></td>
			</tr>
			{% if lending.user_lend.username != user.username %}
			<tr>
			  <td><b>Nutzer auf den übertragen werden soll:</b></td>
				<td> <input type='text' name='destination' maxlength=15 value=
				  {{user.username}} /></td>	
		    </tr>
			{% else %}
			<tr>
				<td><b>Nutzer auf den übertragen werden soll:</b></td>
				<td>{{userform.as_p}}</td>
			</tr>
			<tr></tr>
			<tr>
				<td><b>Name des Externen Nutzers:</b></td>
	            <td> <input type='text' name='non_user' maxlength=100 /></td>
	        </tr>  
	        <tr>
				<td><b>E-Mailaddresse:</b></td>
	            <td> <input type='text' name='mail' maxlength=50 /></td>
	        </tr> 
	        <tr>
				<td><b>Adresse:</b></td>
	            <td> <input type='text' name='adress' maxlength=35/></td>
			</tr>
			{% endif %}
			</tbody>
		  </table>
		  <form action="" method="post">
			 <input type="submit" name="assign" value="Übertragen" />
		  </form>

		
{% endblock content %}
