{% extends "index.html" %}
{% block content %}
	<h1>Erweiterte Suche</h1>
	<form method="post" action="?pro_search_result">
	  <table>
		<tr>
		  <td>Titel:</td>
		  <td><input type="text" name="title" value="{{ searched_title }}" />
		  </td>
		</tr>
		<tr>
		  <td>Autor:</td>
		  <td><input type="text" name="author" value="{{ searched_author }}" />
		  </td>
		</tr>
		<tr>
		  <td>Jahr:</td>
		  <td><input type="text" name="year" value="{{ searched_year }}" />
		  </td>
		</tr>
		<tr>
		  <td>Herausgeber:</td>
		  <td><input type="text" name="publisher" value="{{ searched_publisher }}" />
		  </td>
		</tr>
		<tr>
		  <td>Bibliotheks-Nummer:</td>
		  <td><input type="text" name="bib_no" value="{{ searched_bib_no }}" />
		  </td>
		</tr>
		<tr>
		  <td>ISBN:</td>
		  <td><input type="text" name="isbn" value="{{ searched_isbn }}" />
		  </td>
		</tr>
		  <td><input type="submit" value="Suchanfrage starten" /> </td>
		</tr>
	  </table>
	</form>

{% endblock %}
