<h1>Erweiterte Suche</h1>
<!-- Beginn des Forms, dass bei einer Suchanfrage gesendet wird -->
<form method="get" action="">
  <!-- Dieser Javasript versteckt alle Eingabefenster sobald die Seite geladen
  wird. Die Funktion spoiler() wird in der index.html definiert.-->
		<script>
		  window.onload=function() {
			elem = document.getElementById('kennhide');
			spoiler(elem, 'test1', '--Kennnummern--', '--Kennnummern--');
			spoiler(elem, 'test2', '--Kennnummern--', '--Kennnummern--');
			elem = document.getElementById('pubhide');
			spoiler(elem, 'year', '--Publikationsinformationen--',
			'--Publikationsinformationen--');
			spoiler(elem, 'publisher', '--Publikationsinformationen--',
			'--Publikationsinformationen--');
			elem = document.getElementById('bashide');
			spoiler(elem,'title_row','--Basisinformationen--',
			'--Basisinformationen--');
			spoiler(elem,'fn_author_row', '--Basisinformationen--',
			'--Basisinformationen--');
			spoiler(elem,'ln_author_row', '--Basisinformationen--',
			'--Basisinformationen--');
			spoiler(elem,'keyword_row','--Basisinformation--',
			'--Basisinformation--') 
			elem = document.getElementById('stathide');
			spoiler(elem,'status_row','--Statusinformationen--',
			'--Statusinformationen--');
		  }
		</script>
  <table>
	<!-- Start des Abschnittes Basisinformationen -->
	<tr>
	  <td>
		<!-- Button der für das Auf- und Zuklappen zuständig ist. spoiler()
		wird in der index.html definiert -->
		<input value="--Basisinformationen--" id="bashide" 
		onclick="spoiler(this,'title_row','--Basisinformationen--',
		'--Basisinformationen--');spoiler(this,'fn_author_row',
		'--Basisinformationen--','--Basisinformationen--');
		spoiler(this,'ln_author_row','--Basisinformationen','--Basisinformationen');
		spoiler(this,'keyword_row','--Basisinformation--','--Basisinformation--')" 
		type="button" 
		style="border-style:none;background-color:inherit;">
	  </td>
	</tr>
	<!-- Die id der tr-Tags wird von dem Javascript benötigt. Die
	Djangovariablen können dem Context übergeben werden um voreingetragene
	Werte zu übergeben. -->
	<tr id="title_row">
	  <td>Titel:</td>
	  <td><input type="text" name="title" value="{{ searchtext.2 }}" />
	  </td>
	</tr>
	<tr id="fn_author_row">
	  <td>Vorname Autor:</td>
	  <td><input type="text" name="fn_author" value="{{ searchtext.0 }}" />
	  </td>
	</tr>
	<tr id="ln_author_row">
	  <td>Nachname Autor:</td>
	  <td><input type="text" name="ln_author" value="{{ searchtext.1 }}" />
	  </td>
	</tr>
	<tr id="keyword_row">
	  <td>Schlüsselwörter:</td>
	  <td><input type="text" name="keywords" value="{{ searcht0ext.7 }}" />
	  </td>
	</tr>
	<!-- Start des Abschnittes Publikationsinformationen -->
	<tr>
	  <td>
		<input value="--Publikationsinformationen--" id="pubhide" 
		onclick="spoiler(this,'year','--Publikationsinformationen--',
		'--Publikationsinformationen--');spoiler(this,'publisher',
		'--Publikationsinformationen--',
		'--Publikationsinformationen--')" 
		type="button" 
		style="border-style:none;background-color:inherit;">
	  </td>
	</tr>
	<tr id = year>
	  <td>Jahr:</td>
	  <td><input type="text" name="year" value="{{ searchtext.3 }}" />
	  </td>
	</tr>
	<tr id = publisher>
	  <td>Herausgeber:</td>
	  <td><input type="text" name="publisher" value="{{ searchtext.4 }}" />
	  </td>
	</tr>
	<!-- Start des Abschnittes Kennnummern -->
	<tr>
	  <td>
		<input value="--Kennnummern--" id="kennhide" 
		onclick="spoiler(this,'test1','--Kennnummern--',
		'--Kennnummern--');spoiler(this,'test2', '--Kennnummern--',
		'--Kennnummern--')" 
		type="button" 
		style="border-style:none;background-color:inherit;">
	  </td>
	</tr>
	<div id="knummern">
	  <tr id="test1">
		<td>Bibliotheks-Nummer:</td>
		<td><input type="text" name="bib_no" value="{{ searchtext.5 }}"/>
		</td>
	  </tr>
	  <tr id="test2">
		<td>ISBN:</td>
		<td><input type="text" name="isbn" value="{{ searchtext.6 }}" />
		</td>
	  </tr>
	</div>
	<!-- Start des Abschnittes Statusinformationen -->
	<tr>
	  <td>
		<input value="--Statusinformationen--" id="stathide" 
		onclick="spoiler(this,'status_row','--Statusinformationen--',
		'--Statusinformationen--')" 
		type="button" 
		style="border-style:none;background-color:inherit;">
	  </td>
	</tr>
	<tr id="status_row">
	  <td>Buchstatus:</td>
	  <td>
		<select name="doc_status" size=6 selected="{{ searchtext.8 }}">
	<!-- Die values werden dem Context von der views.py übergeben und
	entsprechen den möglichen Werten von documents.doc_status -->
		  <option value="">Alle</option>
		  <option value="{{AVAILABLE}}">Vorhanden</option>
		  <option value="{{LEND}}">Ausgeliehen</option>
		  <option value="{{ORDERED}}">Bestellt</option>
		  <option value="{{MISSING}}">Vermisst</option>
		  <option value="{{LOST}}">Verloren</option>
		</select>

	  </td>
	</tr>
	<tr>
	<td><input type="submit" value="Suchanfrage starten" /> </td>
  </tr>

</table>
</form>

