{% extends "index.html" %}
{% block content %}
            <form method="post" action="?suchanfrage_starten">
                <table>
                    <tr class="suchanfrage">
                        <td class="such_wort"> Suche: </td>
                          <td> <input type="text" name="suche"
                                    value="{{ suchwort }}" /> </td>
                          <td>     <input type="submit" value="Suchanfrage starten" /> </td>
                    </tr> 
                </table>
             </form>
{% endblock %}
