{% extends 'documents/document_list.html' %}
{% load webdesign %}
{% block content %}
{# Controls TODO: Fix Layout & make main div a stable container for float:left,right childs. #}
{{ block.super }}
{# Items #}
<ul class="document-list">
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">3 D Computer Graphics</a>
  </div>
  <div class="extras">
    <div class="authors">Alan Watt</div>
    <div class="year">1995</div>
    <div class="volume"></div>
    <div class="publisher">Addison-Wesley</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-miss">
  <div class="title">
    <a href="/lorem/documents/K198442">350 Jahre Rechenmaschinen</a>
  </div>
  <div class="extras">
    <div class="authors">Martin Graef</div>
    <div class="year">1973</div>
    <div class="volume"></div>
    <div class="publisher">Carl Hanser Verlag</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">3D-Computation of Incompressible Internal Flows</a>
  </div>
  <div class="extras">
    <div class="authors">Gabriel Sottas, Inge L. Ryhming</div>
    <div class="year">1993</div>
    <div class="volume"></div>
    <div class="publisher">vieweg</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-lend">
  <div class="title">
    <a href="/lorem/documents/K198442">5. Deutsche Windenergiekonferenz 2000, Tagungsband</a>
  </div>
  <div class="extras">
    <div class="authors">Deutsches Windenergie-Institut DEWI</div>
    <div class="year">2000</div>
    <div class="volume"></div>
    <div class="publisher">Deutsches Windenergie-Institut GmbH</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Beginner&#39;s Book of TEX</a>
  </div>
  <div class="extras">
    <div class="authors">Raymond Seroul, Silvio Levy</div>
    <div class="year">1991</div>
    <div class="volume"></div>
    <div class="publisher">Springer Verlag</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Calculus of Distributed and Parallel Processes</a>
  </div>
  <div class="extras">
    <div class="authors">Clemens H. Cap</div>
    <div class="year">2000</div>
    <div class="volume"></div>
    <div class="publisher">Teubner</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Concrete Approach to Mathematical Modelling</a>
  </div>
  <div class="extras">
    <div class="authors">Michael Mesterton-Gibbons</div>
    <div class="year">1995</div>
    <div class="volume"></div>
    <div class="publisher">John Wiley &amp; Sons</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Course in Functional Analysis</a>
  </div>
  <div class="extras">
    <div class="authors">John B. Conway</div>
    <div class="year">2005</div>
    <div class="volume"></div>
    <div class="publisher">Springer</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Finite Calculus Formulation of the Level Set Equation</a>
  </div>
  <div class="extras">
    <div class="authors">S. R. Idelsohn, E. Onate, S. R. Ransau, Sergio R. Idelsohn, Eugenio Onate</div>
    <div class="year">2003</div>
    <div class="volume"></div>
    <div class="publisher">CIMNE</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A First Course in Combinatorial Mathematics</a>
  </div>
  <div class="extras">
    <div class="authors">Ian Anderson</div>
    <div class="year">1989</div>
    <div class="volume"></div>
    <div class="publisher">Oxford University Press</div>
    <div class="Umfang"></div>
  </div>
  </li>
</ul>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">«</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
{% endblock content %}
{% block navigation %}
  <li><a href="/lorem/">Home</a></li>
  <li class="active"><a href="/lorem/documents">Literatur</a></li>
  <li><a href="/lorem/documents/search">Erweiterte Suche</a></li>
  <li class="inactive"><a href="/lorem/documents/new">Dokumente hinzufügen</a></li>
  <li><a href="/lorem/duplicates">Duplikate entfernen</a></li>
  <li><a href="/lorem/export">Export</a></li>
{% endblock navigation %}
{% block menu %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ user }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/lorem/user/profile/1">Profil</a></li>
    </ul>
  </li>
{{ block.super }}
{% endblock menu %}
