{% extends 'documents/doc_list.html' %}
{% load webdesign %}
{% block content %}
{# Controls TODO: Fix Layout & make main div a stable container for float:left,right childs. #}
<form class="document-head">
  <div>
    <div>
      <input type="text" placeholder="Search">
    </div>
    <div>
      <select id="" name="">
        <option value="">Alle Titel</option>
        <option value="">Titel mit A-C beginnend</option>
        <option value="">Titel mit D-F beginnend</option>
        <option value="">Titel mit G-I beginnend</option>
        <option value="">Titel mit J-L beginnend</option>
        <option value="">Titel mit M-O beginnend</option>
        <option value="">Titel mit P-R beginnend</option>
        <option value="">Titel mit S-U beginnend</option>
        <option value="">Titel mit V-Z beginnend</option>
        <option value="">Titel mit Sonderzeichen</option>
      </select>
      <select id="" name="">
        <option value="">Alle Authoren</option>
        <option value="">Authoren mit A-C beginnend</option>
        <option value="">Authoren mit D-F beginnend</option>
        <option value="">Authoren mit G-I beginnend</option>
        <option value="">Authoren mit J-L beginnend</option>
        <option value="">Authoren mit M-O beginnend</option>
        <option value="">Authoren mit P-R beginnend</option>
        <option value="">Authoren mit S-U beginnend</option>
        <option value="">Authoren mit V-Z beginnend</option>
        <option value="">Authoren mit Sonderzeichen</option>
      </select>
    </div>
  </div>
  <div>
    <div class="sortby">
      <span>Sortieren nach:</span>
      <div>
        <div class="sortby sortby-down"><a href="#">Titel</a></div>
        <div class="sortby"><a href="#">Author</a></div>
        <div class="sortby"><a href="#">Jahr</a></div>
      </div>
    </div>
    <div>
      <span>Treffer pro Seite:</span>
      <select id="resultsOnPage" name="">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</form>

{# Items #}
<ul class="document-list">
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">3 D Computer Graphics</a>
  </div>
  <div class="extras">
    <div class="authors">Alan Watt</div>
    <div class="year">1995</div>
    <div class="volume"></div>
    <div class="publisher">Addison-Wesley</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-miss">
  <div class="title">
    <a href="/lorem/documents/K198442">350 Jahre Rechenmaschinen</a>
  </div>
  <div class="extras">
    <div class="authors">Martin Graef</div>
    <div class="year">1973</div>
    <div class="volume"></div>
    <div class="publisher">Carl Hanser Verlag</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">3D-Computation of Incompressible Internal Flows</a>
  </div>
  <div class="extras">
    <div class="authors">Gabriel Sottas, Inge L. Ryhming</div>
    <div class="year">1993</div>
    <div class="volume"></div>
    <div class="publisher">vieweg</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-lend">
  <div class="title">
    <a href="/lorem/documents/K198442">5. Deutsche Windenergiekonferenz 2000, Tagungsband</a>
  </div>
  <div class="extras">
    <div class="authors">Deutsches Windenergie-Institut DEWI</div>
    <div class="year">2000</div>
    <div class="volume"></div>
    <div class="publisher">Deutsches Windenergie-Institut GmbH</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Beginner&#39;s Book of TEX</a>
  </div>
  <div class="extras">
    <div class="authors">Raymond Seroul, Silvio Levy</div>
    <div class="year">1991</div>
    <div class="volume"></div>
    <div class="publisher">Springer Verlag</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Calculus of Distributed and Parallel Processes</a>
  </div>
  <div class="extras">
    <div class="authors">Clemens H. Cap</div>
    <div class="year">2000</div>
    <div class="volume"></div>
    <div class="publisher">Teubner</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Concrete Approach to Mathematical Modelling</a>
  </div>
  <div class="extras">
    <div class="authors">Michael Mesterton-Gibbons</div>
    <div class="year">1995</div>
    <div class="volume"></div>
    <div class="publisher">John Wiley &amp; Sons</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Course in Functional Analysis</a>
  </div>
  <div class="extras">
    <div class="authors">John B. Conway</div>
    <div class="year">2005</div>
    <div class="volume"></div>
    <div class="publisher">Springer</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A Finite Calculus Formulation of the Level Set Equation</a>
  </div>
  <div class="extras">
    <div class="authors">S. R. Idelsohn, E. Onate, S. R. Ransau, Sergio R. Idelsohn, Eugenio Onate</div>
    <div class="year">2003</div>
    <div class="volume"></div>
    <div class="publisher">CIMNE</div>
    <div class="Umfang"></div>
  </div>
  </li>
  <li class="status-avail">
  <div class="title">
    <a href="/lorem/documents/K198442">A First Course in Combinatorial Mathematics</a>
  </div>
  <div class="extras">
    <div class="authors">Ian Anderson</div>
    <div class="year">1989</div>
    <div class="volume"></div>
    <div class="publisher">Oxford University Press</div>
    <div class="Umfang"></div>
  </div>
  </li>
</ul>
<form id="pagination">
  <div class="btn-group">
    <button class="btn">1</button>
    <button class="btn">2</button>
    <button class="btn">3</button>
    <button class="btn">4</button>
    <button class="btn disabled">…</button>
    <button class="btn">17</button>
    <button class="btn">18</button>
  </div>
</form>
{% endblock content %}
{% block navigation %}
  <li><a href="/lorem/">Home</a></li>
  <li class="active"><a href="/lorem/documents">Literatur</a></li>
  <li><a href="/lorem/documents/search">Erweiterte Suche</a></li>
  <li class="inactive"><a href="/lorem/documents/new">Dokumente hinzufügen</a></li>
  <li><a href="/lorem/export">Export</a></li>
{% endblock navigation %}
