{% extends 'documents/search.html' %}
{% load webdesign %}
{% block navigation %}
  <li><a href="/lorem/">Home</a></li>
  <li><a href="/lorem/documents">Literatur</a></li>
  <li class="active"><a href="/lorem/documents/search">Erweiterte Suche</a></li>
  <li><a href="/lorem/documents/new">Dokumente hinzufügen</a></li>
  <li><a href="/lorem/duplicates">Duplikate entfernen</a></li>
  <li><a href="/lorem/export">Export</a></li>
{% endblock navigation %}
{% block content %}
<p>
{% lorem 15w %}
</p>
<form action="">
  <fieldset>
    <legend>Detailierte Suche</legend>
    <div class="controls controls-row">
      <span class="span2">Verknüpfung</span>
      <span class="span4">Suchfeld</span>
      <span class="span5">Suchfilter</span>
      <span class="span1">Regex</span>
    </div>
    <div class="controls controls-row">
      <div class="span2"></div>
      <select class="span4">
        <option>Titel</option>
        <option>Author</option>
        <option>ISBN</option>
        <option>Bibliotheks-No.</option>
        <option>Type</option>
        <option>Schlüsselwort</option>
        <option>Jahr</option>
        <option>Publisher</option>
        <option>Status</option>
      </select>
      <input class="span5" type="text" placeholder="Titel"></input>
      <input class="span1" type="checkbox">
    </div>
    <div class="controls controls-row">
      <select class="span2">
        <option>und</option>
        <option>und nicht</option>
        <option>oder</option>
      </select>
      <select class="span4">
        <option>Titel</option>
        <option>Author</option>
        <option>ISBN</option>
        <option>Bibliotheks-No.</option>
        <option>Type</option>
        <option>Schlüsselwort</option>
        <option>Jahr</option>
        <option>Publisher</option>
        <option>Status</option>
      </select>
      <input class="span5" type="text" placeholder="Titel"></input>
      <input class="span1" type="checkbox">

    </div>
    <div class="controls controls-row">
      <select class="span2">
        <option>und</option>
        <option>und nicht</option>
        <option>oder</option>
      </select>
      <select class="span4">
        <option>Titel</option>
        <option>Author</option>
        <option>ISBN</option>
        <option>Bibliotheks-No.</option>
        <option>Type</option>
        <option>Schlüsselwort</option>
        <option>Jahr</option>
        <option>Publisher</option>
        <option>Status</option>
      </select>
      <input class="span5" type="text" placeholder="Titel"></input>
      <input class="span1" type="checkbox">
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Suchen</button>
      <button class="btn">Weiteres Feld</button>
    </div>
  </fieldset>
</form>
<p>
{% lorem 12w %}
</p>
{% endblock content %}
{% block menu %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ user }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/lorem/user/profile/1">Profil</a></li>
    </ul>
  </li>
{{ block.super }}
{% endblock menu %}
