{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h1>Profil von {{ profile.get_username }}<small>(Das sind Sie)</small></h1>
</div>
<dl class="dl-horizontal">
  <dt>Voller Name</dt>
  <dd>{{ profile.get_full_name }} <a href="#"><small>[bearbeiten]</small></a></dd>
  <dt>Mail-Adresse</dt>
  <dd>{{ profile.email }}<a href="#"><small>[bearbeiten]</small></a></dd>
  <dt>Passwort</dt>
  <dd>**********<a href="#"><small>[bearbeiten]</small></a></dd>
</dl>
{% endblock content %}
{% block navigation %}
  <li><a href="/lorem/">Home</a></li>
  <li><a href="/lorem/documents">Literatur</a></li>
  <li><a href="7lorem/documents/search">Erweiterte Suche</a></li>
  <li><a href="/lorem/documents/new">Dokumente hinzufügen</a></li>
  <li><a href="/lorem/export">Export</a></li>
{% endblock navigation %}
{% block menu %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ user }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/lorem/user/profile/1">Profil</a></li>
    </ul>
  </li>
{{ block.super }}
{% endblock menu %}
