<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}TU Braunschweig{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block html_head %}{% endblock html_head %}
  </head>
  <body>
    {% block header %}
    <div id="header">
      <div id="tu-signet">
        <img src="{% static "images/siegel_rot.jpg" %}" alt="TU BRAUNSCHWEIG">
      </div>
      <div "sc-signet">
        <img src="{% static "images/sclogo3D_t.gif" %}" alt="WiReLib">
      </div>
      <div id="symbolpic">
        <img src="{% static "images/buecher_wire_01.jpg" %}" alt="Logo">
      </div>
    </div>
    {% endblock header %}
    {% block menu %}
    <div id="menubar" class="navbar">
      <ul id="menu" class="nav">
        {% for li in menu_top %}
        {{ li.html }}
        {% endfor %}
      </ul>
    </div>
    {% endblock menu %}
    {% block navigation %}
    <div id="navbar" class="">
      <ul id="navlist" class="">
        {% for li in menu_left %}
        {{ li.html|safe }}
        {% endfor %}
      </ul>
    </div>
    {% endblock navigation %}
    {% block snippet %}{% endblock snippet %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
  </body>
</html>
