{% extends "index.html" %}
{% block content %}
  <h1>BibTeX-Export</h1>
  <p>Dieser Export ist zur Datensicherungen gedacht.</p>
  <form action="" method="post">
	{% csrf_token %}
	<input type="submit" name="bibtex_export" value="BibTeX-Export starten" />
  </form>
  {% if hint %}<p id="hint">{{ hint }}</p>{% endif %}<p>
  <hr />
  Historie der bisherigen BibTeX-Exporte:
  <ul>
  {% for file,link in files.items %}
	<li><a href="{{ link }}">{{ file }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
