{% extends "index.html" %}
{% block script %}
//shameless copied from annakata@stackoverflow
function insertParam(key, value){
    key = escape(key); value = escape(value);
    var kvp = document.location.search.substr(1).split('&');
    var i=kvp.length; var x; while(i--){
        x = kvp[i].split('=');
        if (x[0]==key){
                x[1] = value;
                kvp[i] = x.join('=');
                break;
        }
    }
    if(i<0) {kvp[kvp.length] = [key,value].join('=');}
    //this will reload the page, it's likely better to store this until finished
    document.location.search = kvp.join('&'); 
}
{% endblock script %}
{% block content %}
	<h1>Ihre ausgeliehenen Dokumente</h1>
	{% include "doc_list.html" %}

	<h1>Ihre Bürgschaften</h1>
	{% with documents=documents_non_user %}
	  {% include "doc_list.html" %}
	{% endwith %}
{% endblock %}
