{% extends "index.html" %}
{% block head %}
  <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
{% endblock head %}
{% block script %}
//shameless copied from annakata@stackoverflow
//and modified
function insertParam(key, value) {
  insertParam(key, value, true);
}
function insertParam(key, value, reload){
    key = escape(key); value = escape(value);
    var kvp = document.location.search.substr(1).split('&');
	var i=kvp.length; var x; var replaced=false;
        while(i--){
        x = kvp[i].split('=');
        if (key=='starts' && x[0]=='page'){
		        x[1] = '1';
				kvp[i] = x.join('=');
				continue;
        }
        if (x[0]==key){
                x[1] = value;
                kvp[i] = x.join('=');
				replaced=true;
				continue;
        }
    }
    if(!replaced) {kvp[kvp.length] = [key,value].join('=');}
	if(reload) {
	  //this will reload the page, it's likely better to store this until finished
	  document.location.search = kvp.join('&');
	} 
	else {
	  window.history.pushState("object or string", "new Title", "?" + kvp.join('&'));
	}
}
{% endblock script %}
{% block content %}
  {% if searchmode == 1 %}
  {% include "search.html" %}
  <hr>
  {% endif %}
  {% if searchmode == 2 %}
  {% include "search_pro.html" %}
  <hr>
  {% endif %}
  {% include "doc_list.html" %}
{% endblock %}
