{% extends "index.html" %}
{% block script %}
function addAuthor(div_id, elem, edau) {
	var auths = document.getElementsByName(edau+'_last_name');
	var last_auth = auths[auths.length-2];
	if(last_auth.value == '')
	  return;
	var new_div = document.createElement('tr');
    new_div.innerHTML = '<td><input type=text name='+edau+'"_first_name" maxlength=30 /></td> <td><input onFocus="addAuthor(\'' + div_id + '\', this, '+edau+')" type=text name='+edau+'"_last_name" maxlength=30 /></td>';
    elem.removeAttribute('onFocus');
    document.getElementById(div_id).appendChild(new_div);
}

function addExtra(div_id, elem) {
  var extras = document.getElementsByName('doc_extra_name');
  var last_extra = extras[extras.length-1];
  if(last_extra.value == '')
	return;
  var new_div = document.createElement('tr');
  new_div.innerHTML = '<td><input type=text name="doc_extra_name" /></td> <td><input onFocus="addExtra(\'' + div_id + '\', this)" type=text name="doc_extra_content" /></td>'
    elem.removeAttribute('onFocus');
    document.getElementById(div_id).appendChild(new_div);
}

function addKeyword(div_id, elem) {
  var keys = document.getElementsByName('keyword');
  var last_key = keys[keys.length-2];
  if(last_key.value == '')
	return;
  var new_div = document.createElement('tr');
  new_div.innerHTML = '<td><input onFocus="addKeyword(\'' + div_id + '\', this)" type=text name="keyword" /></td>'
    elem.removeAttribute('onFocus');
    document.getElementById(div_id).appendChild(new_div);
}

var needs = new Array();
{% for c, value in category_needs.items %}
  needs = new Object();
  needs.{{ c }} = new Array();
  n = needs.{{ c }};
  {% for need in value %}
	n[n.length] = '{{ need }}';
  {% endfor %}
{% endfor %}

function changeCategory(elem) {
  arr = needs[elem.value];
  labels = document.getElementsByTagName('label');
  for (i=0; i </*>*/ labels.length; ++i) { 
	labels[i].innerHTML = ' ';
  }
  for (i=0; i </*>*/ arr.length; ++i) {
	field = document.getElementById(arr[i] + '_l');
	field.innerHTML = '*';
  }
}
{% endblock script %}
{% block content %}

	{% if is_importform %}
    <h1>Import</h1>
	{% else %}
	<a href="{% url doc bib_no %}"><input type="button" value="zurück" /></a>
	<h1>Bearbeiten</h1>
	{% endif %}
	<div id="spoiler" name="spoiler">
	  <form method="post" action="">
  {% if not success %}
    <font color="#FF0000"> {{ message|linebreaksbr }}</font>
  {% else %}
    <font color="#00FF00"> {{ message|linebreaksbr }} </font>
  {% endif %}  
		  <table>
			{{ form_doc.as_table }}
			<fieldset class="doc_add">
			  <tr><td><b><u>Autoren</u></b></td></tr>
			  {{ form_authors.as_table }}
			</fieldset>
			<fieldset class="doc_add">
			  <tr><td><b><u>Weitere Einträge</u></b></td></tr>
			  {{ form_extras.as_table }}
			</fieldset>
			<tr><td><input type="submit" name="submit" value="Dokument speichern" /> <br /><br /> </td></tr>
			<tr><td><b><u>Autoren und Editoren</u></b></td></tr>
			<tr><td style="color:#ff0000;" colspan="2">ACHTUNG! Der erstellte Autor oder Editor wird noch nicht dem Dokument zugewiesen. Dieses sollten Sie noch selbst erledigen!</td></tr>
			{{ form_author.as_table }}
			<tr>
			  <td>
				<input type="submit" name="sub_author" 
				       value="Autor/Editor hinzufügen"/>
				<br /><br />
			  </td>
			</tr>
			<tr><td><b><u>Publisher</u></b></td></tr>
			{{ form_publisher.as_table }}
			<tr>
			  <td>
				<input type="submit" name="sub_publisher" 
				       value="Publisher hinzufügen"/>
				<br /><br />
			  </td>
			</tr>
		  </table>
	  </form>
	</div>
	{% if form %}
	<!---
	<br />
	<hr />
	<br />
	<form method="post" action="" enctype="multipart/form-data">
  	  {{ form.as_p }}
  	  <p><input type="submit" value="Start" /></p>
	</form> 
	-->
	{% endif %}
{% endblock content %}
