{% extends "index.html" %}
{% block script %}
//shameless copied from annakata@stackoverflow
//and modified
function insertParam(key, value){
    key = escape(key); value = escape(value);
    var kvp = document.location.search.substr(1).split('&');
	var i=kvp.length; var x; var replaced=false;
        while(i--){
        x = kvp[i].split('=');
        if (key=='starts' && x[0]=='page'){
		        x[1] = '1';
				kvp[i] = x.join('=');
				continue;
        }
        if (x[0]==key){
                x[1] = value;
                kvp[i] = x.join('=');
				replaced=true;
				continue;
        }
    }
    if(!replaced) {kvp[kvp.length] = [key,value].join('=');}
    //this will reload the page, it's likely better to store this until finished
    document.location.search = kvp.join('&'); 
}
{% endblock script %}
{% block content %}
  {% if searchmode == 1 %}
  {% include "search.html" %}
  <hr>
  {% endif %}
  {% if searchmode == 2 %}
  {% include "search_pro.html" %}
  <hr>
  {% endif %}
  {% include "doc_list.html" %}
{% endblock %}
