<p>
	<div id="nav">
	<div id="sort_list">
	  <div id="sort_item">Sortierung:</div>
	  {% for key, value in path_sort.items %}
	  <div id="sort_item">
	    <a href="?{{ value }}">{{ key }}</a>
	  </div>
	  {% endfor %}
	</div>

	{% if not search_pro_form %}
	  <div id="list_filter">
		<form action="" method="GET">
		  <label for="filter_id" >
			Beginnt mit:
		  </label>
		  <select id="filter_id" name="starts"
			onchange="insertParam('starts', this.form.starts.value)">
			{% for val in filter %}
			<option {{ val.0 }}>{{ val.1 }}</option>
			{% endfor %}
		  </select>
		</form>
	  </div>
	{% endif %}
	<div>
	  <br />Zeige Dokumente {{ doc_num_start }} - {{ doc_num_end }} von {{ doc_num }}
	  Dokumenten.
	</div>
	</div>
	<ul id="list_body">
	{% for d in documents.object_list %}
	  <li id="{% spaceless %}
		  {% if form == 0 %}
			status_{{ d.status }} 
			{% else %}{% if form == 1 %}
			{% endif %}{% endif %}
		  {% endspaceless %}">
	  <div id="title">
		<a href="{% url doc d.bib_no %}">{{ d }}</a>
		  {% if form == 1 %}
		        {% if d.lending.non_user_lend == True %}		        
		              {{ d.doc_status.date_term_lend }}		    
		        {% endif  %}   
		  {% endif %}
		   </div>
		<div id="extras">
		<div id="authors">{% spaceless %}
		{% for au in d.get_authors %} 
		{{ au.first_name }} 
		{{ au.last_name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		{% for au in d.get_editors %} 
		{{ au.first_name }} 
		{{ au.last_name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
	 {% endspaceless %}</div>
	  <div id="year">{{ d.year }}</div>
	  <div id="volume">{% spaceless %}
	  {% if d.publisher %}
	  <div id="publisher">{{ d.publisher }}</div>
      {% endif %}
      <div id="Umfang">      
            {% for b in d.doc_extra_set.all %}
                {% if b.bib_field == "volume" %}     
                    Umfang:   {{ b }}
                {% endif %}
            {% endfor %}    
            {% endspaceless %}</div>
    	{% if form == 1 %}	
        <div id="date_lend"> 
    	  Ausgeliehen am:
    	   {% for l in  d.doc_status_set.all %}
    	     {% if not l.return_lend %}
    	        {{ l.date }}
    	     {% endif %}
    	   {% endfor %}
    	</div>
    	{% endif %}
    	
		{% if form == 2 %}
		  <div id="bib_no"> {{ d.bib_no }} </div>
		  {% for s in d.doc_status_set.all %}
        {% if s.status == 3 %}
            {% if not s.return_lend %}
              <div id="recent_user">Gemeldet von: 
              {% if s.recent_user.first_name %}
                {% if s.recent_user.last_name %}
				<a href="{% url user.profile lending.user_lend.id %}">
				  {{ s.recent_user.first_name }} {{ s.recent_user.last_name }}
				</a> <br />
                {% else %}
				<a href="{% url user.profile lending.user_lend.id %}">
				  {{ s.recent_user.username }}
				</a> <br \>
                {% endif %}
              {% else %}
			  <a href="{% url user.profile lending.user_lend.id %}">
				{{ s.recent_user.username }}
			  </a> <br />
              {% endif %}
              </div>
              <div id="since">Vermisst seit: {{ s.date }}</div>
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
	  </div>
	</li>
	{% endfor %}
	</ul>
  <form method="POST" id="query_form">
	<div style="visibility:hidden; display:none">
	  {% if search_pro_form %}
		{{ search_pro_baseform.as_p }}
		{{ search_pro_form.management_form }}
		{{ search_pro_form.as_p }}
	  {% endif %}
	</div>
	<div class="pagination">
	  <ul>
		{% for button in page_buttons %}
		  {{ button|safe }}
		{% endfor %}
	</ul></div>
  </form>
</p>
