{% extends "index.html" %}
{% block head %}
  <script
    type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  </script>
{% endblock head %}
{% block script %}
var needs = new Array();
{% for c, value in category_needs.items %}
  needs = new Object();
  needs.{{ c }} = new Array();
  n = needs.{{ c }};
  {% for need in value %}
	n[n.length] = '{{ need }}';
  {% endfor %}
{% endfor %}

function changeCategory(elem) {
  arr = needs[elem.value];
  labels = document.getElementsByTagName('label');
  for (i=0; i </*>*/ labels.length; ++i) { 
	labels[i].innerHTML = ' ';
  }
  for (i=0; i </*>*/ arr.length; ++i) {
	field = document.getElementById(arr[i] + '_l');
	field.innerHTML = '*';
  }
}

function updateElementIndex(el, prefix, ndx) {
  var id_regex = new RegExp('(' + prefix + '-\\d+)');
  var replacement = prefix + '-' + ndx;
  if ($(el).attr("for")) 
    $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
  if (el.id) 
    el.id = el.id.replace(id_regex, replacement);
  if (el.name) 
	el.name = el.name.replace(id_regex, replacement);
}

function addForm(btn, prefix) {
  var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
  var row = $('.dynamic-form:first').clone(true).get(0);
  $(row)./*removeAttr('id').*/insertAfter($('.dynamic-form:last')).children('.hidden').removeClass('hidden');
  $(row).children()/*.not(':last')*/.children().each(function() {
    updateElementIndex(this, prefix, formCount);
    $(this).val('');
  });
  $(row).find('.delete-row').click(function() {
    deleteForm(this, prefix);
  });
  $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
  $(row).attr("id", prefix + '-' + formCount + '-row');
  return false;
}

function deleteForm(btn, prefix) {
  $(btn).parents('.dynamic-form').remove();
  var forms = $('.dynamic-form');
  $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
  for (var i=0, formCount=forms.length; i</*>*/formCount; i++) {
    $(forms.get(i)).children().not(':last').children().each(function() {
      updateElementIndex(this,  prefix, i);
    });
  }
  return  false;
}


{% endblock script %}
{% block content %}

	{% if is_importform %}
    <h1>Import</h1>
	{% else %}
	<a href="{% url doc bib_no %}"><input type="button" value="zurück" /></a>
	<h1>Bearbeiten</h1>
	{% endif %}
	<div id="spoiler" name="spoiler">
	  <form method="post" action="">
		{% csrf_token %}
  {% if not success %}
    <font color="#FF0000"> {{ message|linebreaksbr }}</font>
  {% else %}
    <font color="#00FF00"> {{ message|linebreaksbr }} </font>
  {% endif %}  
		  <table>
			{{ form_doc.as_table }}
			<fieldset class="doc_add">
			  <tr><td><b><u>Autoren</u></b></td></tr>
			  {{ form_authors.as_table }}
			</fieldset>
		  </table>
			<fieldset class="doc_add">
			  <tr><td><b><u>Weitere Einträge</u></b></td></tr>
			  <script type="text/javascript">
               <!--
                $(function () {
                  $('.add-row').click(function() {
                    return addForm(this, 'form');
                  });
                  $('.delete-row').click(function() {
                    return deleteForm(this, 'form');
                  })
                })
                //-->
			  </script>
              {% for form in form_extras.forms %}
			  <div id="{{ form.prefix }}-row" class="dynamic-form">
				{{ form.as_p }}
			  </div>
			  {% endfor %}
			  <a
				href="javascript:void(0)"
				class="add-row"
			  >
			    Weiterer Eintrag
			  </a>
			  {{ form_extras.management_form }}
			</fieldset>
			<table>
			<tr>
			  <td>
				<input 
				  type="submit" 
				  name="submit" 
				  value="Dokument speichern" 
				/> 
				<br />
				<br /> 
			  </td>
			  <td>
				<input type="button" value="Add More" id="add_more">
			  </td>
		    </tr>
			<tr><td><b><u>Autoren und Editoren</u></b></td></tr>
			<tr><td style="color:#ff0000;" colspan="2">ACHTUNG! Der erstellte Autor oder Editor wird noch nicht dem Dokument zugewiesen. Dieses sollten Sie noch selbst erledigen!</td></tr>
			{{ form_author.as_table }}
			<tr>
			  <td>
				<input type="submit" name="sub_author" 
				       value="Autor/Editor hinzufügen"/>
				<br /><br />
			  </td>
			</tr>
			<tr><td><b><u>Publisher</u></b></td></tr>
			{{ form_publisher.as_table }}
			<tr>
			  <td>
				<input type="submit" name="sub_publisher" 
				       value="Publisher hinzufügen"/>
				<br /><br />
			  </td>
			</tr>
		  </table>
	  </form>
	</div>
{% endblock content %}
