{# Horizontale Navigation #}
<div id="tu_navcontainer">
  <ul id="tu_navlist">
	{% if user.is_authenticated %}

	<li id="tu_login_logout" onmouseover="mouseonmenu(1)" 
	onmouseout="cleandelay()" style="z-index:999;">
	  <a href="{% url logout %}">LogOut</a>                                        
	</li>

	<li id="tu_profil"><a href="{% url profile %}">Profil</a></li>
	<li id="tu_logged_in" style="z-index:999;">
	  Eingeloggt als {{ user.username }}
	</li>
	{% else %}
	<li id="tu_login_logout" onmouseover="mouseonmenu(1)" 
	onmouseout="cleandelay()" style="z-index:999;">
	  <a href="{% url login %}">LogIn</a>                                   
	</li>
	{% endif %}
  </ul>
</div>

{# Linke Navigation #}
<div class="linke_spalte">
  <div class="navi1">
    <a href="{% url index %}" style="display:block;">
      Home
    </a>
  </div>
  <div class="navi1"> 
	<a href="{% url docs %}" style="display:block;">
	  Literaturverzeichnis
	</a>
  </div>

  <div class="navi2">
	<a href="{% url search.pro %}" style="display:block;">
	  Erweiterte Suche
	</a>
  </div>

  {% if export_perm %}
  <div class="navi1">
	<a href="{% url export %}" style="display:block;">Export</a>
  </div>

  <div class="navi2">
	<a href="{% url export.bibtex %}" style="display:block;">
	  BibTeX-Export
	</a>

  </div>
  <div class="navi2">
	<a href="{% url export.allegro %}" style="display:block;">
	  Allegro-Export
	</a>
  </div>
  {% endif %}
  {% if import_perm %}
  <div class="navi1">
	<a href="{% url doc.add %}" style="display:block;">
	  Import
	</a>
  </div>
  <div class="navi2">
	<a href="{% url doc.import %}" style="display:block;">
	  Datei hochladen
	</a>
  </div>
  {% endif %}
  {% if perm %}
  <div class="navi1">
	<a href="/admin" style="display:block;">
	  Administration
	</a>
  </div>
  {% endif %}

  <div id="linke_spalte_schatten">
  </div>
</div>

