{% extends "index.html" %}
{% block content %}
	<h1> Hallo, {{ user.username }}!</h1>
    <form action="" method="post">
    <fieldset>
       
    <legend>Persönliche Einstellungen verändern</legend>
	 
        <table> 
        <tr>
            <td><b>Name</b></td>
            <th colspan="2">{{c_user.first_name}} {{c_user.last_name}}</th>
			<td><a href="{% url 'profile_edit_name' %}">(ändern)</a></td>
        </tr>
        <tr>
            <td><b>Passwort</b></td>
            <th colspan="2">*********</th>
			<td><a href="{% url 'profile_edit_passwd %}">(ändern)</a></td>
        </tr>
        <tr>
            <td><b>E-Mail Adresse</b></td>
            <th colspan="2">{{ c_user.email }}</th>
			<td><a href="{% url 'profile_edit_email' %}">(ändern)</a></td>
        </tr>
               
        <tr>
            <td><b>Anschrift</b></td>
            <th colspan="2">{{ c_user.user_profile.street }} {{ c_user.user_profile.number }} </th> 
			<td><a href="{% url 'profile_edit_personal' %}">(ändern)</a></td>
        
        </tr>
        <tr>
            <td></td>
            <th colspan="2">{{ c_user.user_profile.zipcode }} {{ c_user.user_profile.city }}</th>
        </tr>
        <tr>
            <td><b>Telefonnummer:</b></td>
            <th colspan="2"></th>
			<td><a href="{% url 'profile_edit_tel' %}">(ändern)</a></td>    
	    </tr>
	    {% for i in c_user.tel_user_set.all %}
	    <tr>
	        <td></td>
	        <td>{{ i.tel_type }}</td>
	        <td>{{ i.tel_nr }}</td>
	    </tr>
	    {% endfor %}
	    
	    
	    </table>
	</fieldset>
	</form>
{% endblock %}
