{% extends "base.html" %}
{% block content %}
<address>
  <strong>{{ object }}</strong><br />
  <a href="mailto:{{ object.email }}">{{ object.email }}</a><br />
  {{ object.street }} {{ object.number }}<br />
  {{ object.zipcode }}, {{ object.city }}<br />
  {{ object.phone_number }}<br />
</address>
{% if user == object %}
<a href="{% url 'users.edit' %}" class="btn">Bearbeiten</a>
<a href="{% url 'documents.list.lend' %}" class="btn">Ausgeliehene Dokumente</a>
{% endif %}
{% endblock content %}
